---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Quartiers Ludiques - Accueil"
---

<BaseLayout pageTitle = {pageTitle} >
	<h2>Les meilleurs jeux éducatifs</h2>
</BaseLayout>