---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
    header {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<header>
  <nav>
    <ThemeIcon/>
    <Navigation />
  </nav>
</header>